
<div class="title">
  <h2>Messages</h2>
</div>


<div class="profiles">
  <input type="search" id="myInput" (keyup)="search()" placeholder="Search people">
    <div *ngFor="let element of arr" class="profile-div">
      <div class="card">
          <img [src]="element.picture.thumbnail" alt="profile-pic">
          <div class="row">
            <div class="prof-name col">
              <b>{{element.name.first}}</b>
              
            </div> 
              <div class="prof-cell col">
                {{element.cell}}
              </div>   
          </div>
   
      </div>

     <!-- {{element | json}} -->
    </div>
</div>

<!-- <div class="search-profile">
  <input type="search" id="myInput" (keyup)="search()" placeholder="Search people">
    <ul id="myUL">
      <li><a href="#">Adele</a> </li>
      <li><a href="#">Agnes</a></li>
    
      <li><a href="#">Billy</a></li>
      <li><a href="#">Bob</a></li>
    
      <li><a href="#">Calvin</a></li>
      <li><a href="#">Christina</a></li>
      <li><a href="#">Cindy</a></li>
    </ul>
  
  </div> -->


<router-outlet></router-outlet>
