<div class="title">
  <h2>Recruit Now</h2>
</div>

<div class="profiles">
  <h4 class="filter-text">Filter By</h4>
  <input
    type="search"
    id="myInput-1"
    (keyup)="search1()"
    placeholder="Search Location"
  />
  <input
    type="search"
    id="myInput-2"
    (keyup)="search2()"
    placeholder="Search Role"
  />
  <div *ngFor="let element of posts" class="profile-div">
    <div class="card">
      <img src="../assets/user-regular.svg" alt="profile-pic" class="profile" />
      <div class="row">
        <div class="prof-name col">
          <b>{{ element.first_name }}</b>
        </div>
        <div class="prof-designation col">
          {{ element.employment.title }}
        </div>
        <div class="prof-address col">
          {{ element.address.city }}
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
